{% extends 'layout/nav.html' %}
{% load static %}
{% block content %}

    <!-- BEGIN FEATURES SECTION -->
    <div id="features" class="relative w-full px-8 py-10 text-sm border-t border-gray-200 md:py-16 lg:py-24 xl:py-40 xl:px-0">
        <div class="container flex flex-col items-center justify-between h-full max-w-6xl mx-auto">
            <h2 class="my-5 text-sm tracking-tight text-blue-300 uppercase">
                Our company
            </h2>
            <div class="flex flex-col text-center w-full mt-0 lg:flex-row sm:mt-10 lg:mt-20 font-serif">

                <p>
                    Cladexallied Bank was founded on the belief that no one should be locked 
                    out of the financial system. We’re dedicated to helping foster a ​world 
                    where everyone has an equal opportunity to prosper.

                    <br><br>


                </p>
            </div>

            <h2 class="my-5 text-sm tracking-tight text-blue-400 uppercase">
                CORPORATE INFORMATION 
            </h2>

            <ol>
                <li class="text-center font-semibold text-sm">
                    <h2 class="my-5 text-sm tracking-tight text-blue-400 uppercase">
                        Corporate Offices
                    </h2>
                    
                    Cladexallied Bank is headquartered in Virgin Island: <br>
                    Cladexallied Bank <br>
                    1680 Cladexallied Drive, VA 22102-3491<br>
                    Virgin Island.
                </li>
                <li class="text-center text-sm font-semibold">
                    <h2 class="my-5 text-sm tracking-tight text-blue-400 uppercase">
                        Additional corporate offices are located in:
                    </h2>
                    Nara, Japan<br>
                    Tulum, Mexico<br>
                    Rio De Janeiro, Brazil<br> 
                    Chicago, Illinois<br>
                    Wuhan, China <br>
                    Belfast, United Kingdom<br>
                    Zermatt, Switzerland<br> 
                    Johannesburg, South Africa.
                </li>
                <li class="text-center text-sm">
                    <h2 class="my-5 text-sm tracking-tight text-blue-400 uppercase">
                        Corporate Social Responsibility <br>
                        Cladexallied Bank 2019-2022 CSR Report
                    </h2>
                    There is a natural desire, born of uncertainty and anxiety, to see 2020 as an anomaly. 
                    A unique moment in time when an unprecedented global pandemic has forced us to radically alter our daily lives. 
                    To be sure, we have all, both individually and collectively, confronted a host of new challenges - from mastering 
                    the mechanics of remote work and learning to embracing the demands of social distancing. We have understood these
                    accommodations and sacrifices to be table stakes if we are to stem the spread of this disease and set our world on the
                    road to recovery.<br><br>

                    However, for many segments of our society, the economic dislocation resulting from the COVID-19 pandemic. 
                    Indeed this events offer another window into the disparities of risks, opportunities and outcomes that persist 
                    in our society and reinforce what we know to be true: that we have much work to do to close the substantial gaps 
                    in racial justice, equality and wealth, and to ensure that everyone has a fair shot to live without fear and to 
                    achieve financial stability and well-being.<br><br>
                    
                    Last year, in this report, we discussed our hope that corporations had reached an important inflection 
                    point - a retreat from the absolutist view that our purpose is solely to meet the needs of our shareholders
                     and embrace the view that we are accountable to a broader array of stakeholders. That pivot came at a time of relative prosperity, 
                     where the economy was enjoying healthy growth and historically low levels of unemployment. As is often the case, this conceptual 
                     commitment was tested quickly by actual events. In March of this year, it was evident to all that we would
                      be confronting challenges few of us were prepared to address.
                </li>
                <br>
                <li class="text-center font-semibold text-sm">
                    Be safe <br>
                    Randy Pelgry<br>
                    Executive Vice President, Head of foreign Affairs
                </li>

            </ol>
        </div>
    </div>
    <!-- END FEATURES SECTION -->
    



{% endblock %}
