{% extends 'layout/console.html' %}
{% load static %}
{% block content %}

    

<div class="container px-6 mx-auto grid">
  
    <!-- CTA -->
    <a
      class="flex items-center justify-between p-4 mb-8 text-sm font-semibold text-purple-100 bg-blue-400 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
      
    >
      <div class="flex items-center">
        <svg
          class="w-5 h-5 mr-2"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
          ></path>
        </svg>
        <span>
          {% if messages %}
          {% for message in messages %}
          {{message}}
          {% endfor %}
          {% endif %}
        </span>
      </div>
      <span>Attention &RightArrow;</span>
    </a>
  
    <!-- Responsive cards -->
    <h4
      class="mb-4 text-sm font-semibold text-gray-600 dark:text-gray-300"
    >
      Change pin
    </h4>

  
    <!-- Cards with title -->
  
    <form method="POST" class="site-form">
      {% csrf_token %}

      <label class="block mt-4 text-sm font-semibold text-gray-500">
          Old Password
          <input name="old_pin"
            class="block w-full pr-20 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-blue dark:focus:shadow-outline-gray form-input"
          />
      </label>
      <label class="block mt-4 text-sm font-semibold text-gray-500">
          New Password 
          <input name="new_pin"
            class="block w-full pr-20 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-blue dark:focus:shadow-outline-gray form-input"
          />
      </label>
  
      <label class="block mt-4 text-sm font-semibold text-gray-500">
          confirm Password
        <input name="confirm_pin"
          class="block w-full pr-20 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-blue dark:focus:shadow-outline-gray form-input"
          />
      </label>

      <label class="block mt-4 text-sm">
  
        <div>
            <button
                type="submit"
                class="px-5 py-3 text-sm leading-5 w-full text-white transition-colors duration-150 bg-blue-400 border border-transparent rounded-lg active:bg-purple-600 hover:bg-blue-900 focus:outline-none focus:shadow-outline-purple"
            >
                Change pin
            </button>
        </div>
  
      </label>
    </form>
  



{% endblock %}