{% extends 'layout/nav.html' %}
{% load static %}
{% block content %}

    <!-- BEGIN FEATURES SECTION -->
    <div id="features" class="relative w-full px-8 py-5 border-t border-gray-200 md:py-16 lg:py-24 xl:py-40 xl:px-0">
        <div class="container flex flex-col items-center justify-between h-full max-w-6xl mx-auto">
            <h2 class="my-5 text-base font-medium tracking-tight text-blue-400 uppercase">
                Cladexallied Bank
            </h2>
            <h2 class="my-5 text-sm tracking-tight text-blue-400 uppercase">
                Terms and Conditions
            </h2>
            <div class="flex flex-col w-full mt-0 lg:flex-row sm:mt-10 lg:mt-20 font-serif">

                <p>
                    Thank you for visiting our website. This section contains the Terms of Use
                    of this website. By accessing this website and any of its pages, you are 
                    agreeing to these Terms. Cladexallied Bank reserves the right to amend the 
                    terms from time to time without notice.

                    <br><br>
                    The information contained in these pages is not intended to provide professional
                    advice and should not be relied upon in that regard. Persons accessing these pages 
                    are advised to obtain appropriate professional advice when necessary at all times in 
                    their respective jurisdiction.<br><br>

                    <strong>No Warranties:</strong><br>
                    Whilst every care has been taken in preparing the information materials contained in this 
                    website, such information and materials are provided “as is” without warranty of any kind, 
                    either express or implied. In particular, no warranty regarding non-infringement, security, 
                    accuracy, fitness for a purpose or freedom from computer viruses is given in connection with 
                    such information and materials.<br><br>

                    <strong>Linked Websites:</strong><br>
                    Cladexallied Bank or any other Cladexallied Bank Group member is not responsible for the contents 
                    available on or the set-up of any other websites linked to this site. Access to and use of 
                    such other websites is at the user’s own risk and subject to any terms and conditions 
                    applicable to such access/use. By providing hyperlinks to other websites, 
                    Cladexallied Bank shall not be deemed to endorse, recommend, approve, guarantee 
                    or introduce any third parties or the service/products they provide on their web site, 
                    or have any form of cooperation with such third parties and web sites. 
                    The bank is not a party to any contractual arrangements entered into between you and 
                    the provider of the external website unless otherwise expressly specified or agreed 
                    to by the Bank.<br><br>
                    <strong>Email services:</strong><br>
                    Email messages sent to the bank over the Internet cannot be guaranteed to be completely 
                    secure. The bank is not responsible for any damages incurred by users if they send a 
                    message to the bank, or if the bank sends a message to them at their request, over the Internet. 
                    The bank is not responsible in any way for direct, indirect, special or consequential damages 
                    arising out of the use of this website.<br><br>

                    <strong>Transmitting over the Internet:</strong><br>
                    Due to the nature of the Internet, transactions may be subject to interruption, 
                    transmission blackout, delayed transmission and incorrect data transmission. The Bank is not 
                    liable for malfunctions in communications facilities not under its control that may affect 
                    the accuracy or timeliness of messages and transactions you send<br><br>

                    <strong>Our Trademarks and Copyright:</strong><br>
                    The content and information contained within our website or delivered to you in connection 
                    with your use of our website is the property of Cladexallied Bank. The materials on this 
                    website are protected by copyright and no part of such materials may be modified, reproduced, 
                    stored in a retrieval system, transmitted (in any form or by any means), copied, distributed, 
                    used for creating derivative works or used in any other way for commercial or public 
                    purposes without the Bank’s prior written consent.

                    <br><br>
                    Thank you for visiting our website. This section contains the Terms of Use of this website. 
                    By accessing this website and any of its pages, you are agreeing to these Terms. 
                    Cladexallied Bank reserves the right to amend the terms from time to time without notice

                    

                </p>



            </div>

            
        </div>
    </div>
    <!-- END FEATURES SECTION -->
    



{% endblock %}