{% extends 'layout/nav.html' %}
{% load static %}
{% block content %}

    <!-- BEGIN FEATURES SECTION -->
    <div id="features" class="relative w-full px-8 py-10 border-t border-gray-200 md:py-16 lg:py-24 xl:py-40 xl:px-0">
        <div class="container flex flex-col items-center justify-between h-full max-w-6xl mx-auto">
            <h2 class="my-5 text-sm tracking-tight text-blue-400 uppercase">
                Cladexallied Bank
            </h2>
            <h2 class="my-5 text-sm tracking-tight text-blue-400 uppercase">
                    Internet Banking Privacy policy
            </h2>
            <div class="flex flex-col w-full mt-0 lg:flex-row sm:mt-10 lg:mt-20 font-serif">

                <p>
                    The Cladexallied Bank is committed to maintaining best Privacy Practices 
                    to create, as far as possible, a secure Internet banking environment for 
                    our customers. We encourage our customers to similarly observe best 
                    practices that are within their control.

                    <br><br>


                </p>
            </div>

            <h2 class="my-5 text-sm tracking-tight text-grey-700 uppercase">
                Our best practices include:
            </h2>

            <ol>
                <li class="text-center">
                    <h2 class="my-5 text-sm tracking-tight text-grey-700 uppercase">
                        Collection Of Customer Information
                    </h2>
                    
                    We will not make unsolicited requests for customer information through email or the telephone, unless 
                    customers initiate contact with us. We will use any information collected as minimally as possible, mainly 
                    to assist us in customising and delivering services and products that are of interest to our customers. 
                    Under no circumstances will we ask customers to reveal their Personal Identification Numbers (PINs) or Passwords.
                </li>
                <li class="text-center">
                    <h2 class="my-5 text-sm tracking-tight text-grey-700 uppercase">
                        Handling Of Customer Information
                    </h2>
                    We have established strict confidentiality standards for safeguarding information on our customers.
                </li>
                <li class="text-center">
                    <h2 class="my-5 text-sm tracking-tight text-grey-700 uppercase">
                        Disclosure Of Customer Information
                    </h2>
                        Unless we have the customer's agreement or are required by law, we will not disclose customer information to external parties.
                </li>
                <li class="text-center">
                    <h2 class="my-5 text-sm tracking-tight text-grey-700 uppercase">
                        Compliance By External Parties
                    </h2>

                    External parties who, in the course of providing support services to us, may come into contact 
                    with customer information, are required to observe our privacy standards.
                </li>
                <li>
                    
                </li>
            </ol>
        </div>
    </div>
    <!-- END FEATURES SECTION -->
    



{% endblock %}